@using WebAssemblyApp.Shared.Models


@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var item in products)
    {
        <RadzenCard Style="width:600px; margin-bottom: 20px; height:500px;">
            <div class="row">
                <div class="col-md-6">
                    <div>Name:</div>
                    <b>@item.Name</b>
                    <div style="margin-top:20px">Description:</div>
                    <b>@(item.Description)</b>
                    <br />
                   @* <RadzenImage Path="@item.Image" Style="width:100px;" />*@
                </div>
                <div class="col-md-6">
                    <div>Freight:</div>
                    <b>@item.Name</b>
                    <div style="margin-top:20px">Ship country:</div>
                    <b>@item.Description</b>
                    <div style="margin-top:20px">Ship city:</div>
                    <b>@(@item.Name)</b>
                    <div style="margin-top:20px">Ship name:</div>
                    <b>@(@item.Description)</b>
                </div>
            </div>
        </RadzenCard>
        }
    }
}

    @code {
        [Parameter]
        public List<Product> products { get; set; }
    }